#gameOver {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.gameOverContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--colorTheme1);
}

.gameOverContainer > div {
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.gameOverContainer > button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    background-color: var(--colorDarkGray);
}

#textGO {
    font-size: 26px;
}