#start {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.startContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--colorTheme1);
}

.startContainer > button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--colorDarkGray);
    margin-top: 20px;
}

.startContainer > input {
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 30px;
    background-color: var(--colorDarkGray);
    text-align: center;
}