* {
  background-color: #121213;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  --colorGreen: #538d4e;
  --colorYellow: #b59f3b;
  --colorGray: #818384;
  --colorDarkGray: #3a3a3c;
  --colorTheme1: #121213;
  --colorTheme2: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%!important;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.menssageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.effect1 {
  position: relative;
  background-color: var(--colorTheme1);
  border-radius: 5px;
  border: 2px solid var(--colorDarkGray);
  color: var(--colorTheme2);
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.box {
  display: flex;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin: 5px;
  justify-content: center;
  text-align: center;
  padding: 6px;
  font-size: 30px;
}

.keyContainer {
  width: 350px;
  height: 105px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyContainer>button {
  height: 35px;
  width: 32px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: var(--colorGray);
  color: var(--colorTheme2);
  margin: 1px;
}

.keyContainer button:nth-child(21),
.keyContainer button:nth-child(29) {
  width: 50px;
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.not {
  animation: 250ms linear jiggle;
}

@keyframes jiggle {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-0.5rem, 0);
  }

  50% {
    transform: translate(0.5rem, 0);
  }

  75% {
    transform: translate(-0.5rem, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.zoom {
  animation: 100ms linear zooms;
}

@keyframes zooms {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.audio {
  display: none
}