* {
  background-color: #121213;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  width: 500px;
  height: 50px;
}

.menssageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.effect1 {
  position: relative;
  background-color: #121213;
  border-radius: 5px;
  border: 2px solid #333;
  color: #fcedd8;
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.box {
  display: flex;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin: 5px;
  justify-content: center;
  text-align: center;
  padding: 6px;
  font-size: 30px;
}

.keyContainer {
  width: 580px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyContainer>button {
  height: 50px;
  width: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #818384;
  color: #fff;
  margin: 3px;
}

.keyContainer button:nth-child(20),
.keyContainer button:nth-child(28) {
  width: 79px;
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}
